
.js-marquee-wrapper
    display: flex
    align-items: center
.bottom
    height: 9.4vw
    display: flex
    align-items: center
    &__border
        border-top: 1px #E9E9E9 solid
        margin-top: 4vw
    &__marquee
        height: 31px
        padding: 80px 0px 69px 0px
        margin-top: 76px
        position: relative
        display: block
        width: 100%
        white-space: nowrap
        overflow: hidden
        &::before
            content: ''
            border-top: 2px #E6E6E6 solid
            width: 10vw
            position: absolute
            bottom: 180px
            max-width: 87.5vw
            left: 20%
            right: 20%
            width: 100%
            left:50%
            transform: translate(-50%, 50%)
        svg
            margin: 0px 4.6vw
            max-height: 2vw
            max-width: 9.3vw
            
@media (max-width: 992px)
    .bottom
        &__marquee
                display: flex
                align-items: center
                padding: 2rem 0rem 2.3125rem 0rem
                &::before
                    bottom: 100%
                svg
                    max-height: 7vw
                    max-width: 14.3vw
                
@media (max-width: 475px)
    .bottom
        &__marquee
            margin-top: 60px