.main
    background-size: 87.5vw 31.3vw
    background-repeat: no-repeat
    background-position-x: 100%
    padding-top: 5.5vw
    position: relative
    &__bgc
        width: 100%
        top: 0%
        right: 0%
        left: 0%
        z-index: -1
        position: absolute
    &__logos
        width: 43.8vw
        position: relative
        height: 10.5vw
        padding: 3.8vw 0px 2.3vw 0px
        
    &__title
        font-size: 13vw
        color: white
        line-height: 9.9vw
        font-weight: 700
        max-width: 92vw
        margin: 0
        margin-left: -1vw
        span
            &:nth-last-child(1)
                margin-left: 2.8vw
                
    &__bottom
        display: flex
        justify-content: flex-end
        align-items: flex-end
        padding-left: 5.2vw
        margin-top: 2.6vw
        .bottom
            display: none
    &__black
        background-color: black
        padding: 3.8vw 3.8vw 4vw 4.2vw
        background: url('../img/square.svg') no-repeat black 90% 20%
        background-size: 6.5vw 6.5vw
        height: 10.5vw
        width: 31.1vw
    &__paragraph
        color: white
        margin-top: 0
        font-size: 1.3vw
        max-width: 31.1vw
        font-weight: 400
        margin-bottom: 2.4vw
        z-index: 1
    &__button
        background-color: #DA1648
        border-radius: 35px
        border: none
        outline: none
        cursor: pointer
        height: 2.6vw
        width: 14.1vw
        text-align: center
        color: white
        font-weight: 500
        font-size: 0.9vw
    &__square
        position: absolute
        top: 15%
        right: 8%
        z-index: -1
    &__logo-block
        display: flex
        align-items: flex-end
        justify-content: space-around
        flex-wrap: nowrap
        &::after
            content: ''
            border-bottom: 1px #e6e6e6 solid
            width: 100%
            max-width: 72%
            position: absolute
            bottom: 0%
            left: 0%
        &:nth-child(1)
            border-bottom: 1px #e6e6e6 solid
            padding-bottom: 2.1vw
            margin-bottom: 2.1vw
            
        svg
            max-height: 2.8vw
            width: 9.9vw
            &:nth-last-child(1)
                max-width: 6.9vw
                
    &__border-top
        border-top: 1px #E9E9E9 solid
        margin-top: 2.1vw
        margin-bottom: 2.2vw
    &__border-bottom
        border-top: 1px #E9E9E9 solid
        margin-top: 2.9vw
        width: 31.5vw
@media (max-width: 768px)
    .main
        &__bottom
            flex-direction: column
        &__bottom
            padding: 0
            .container
                display: none
            .bottom
                display: block
                margin-top: 8vw
                svg
                    max-height: 4vw
                    max-width: 17.3vw
        &__black
            width: 91%
        &__paragraph
            font-size: 1.8vw
            max-width: 59vw
        &__button
            height: 4.6vw
            width: 17.1vw
            font-size: 1.5vw
        &__logos
            width: 100%
            height: 15.5vw
            svg
                max-height: 4.8vw
                width: 15.9vw
                &:nth-last-child(1)
                    max-width: 15.9vw
@media (max-width: 576px)
    .main
        &__logo-block
            &:nth-child(1)
                padding-bottom: 5.1vw
                margin-bottom: 6.1vw
        &__logos
            height: 28.5vw
            svg
                max-height: 7.8vw
                width: 24.9vw
        &__black
            width: 100%
            max-width: 79.5vw
            height: 15.5vw
            display: flex
            flex-direction: column
            justify-content: space-between
        &__paragraph
            font-size: 2.3vw
            max-width: unset
        &__button
            height: 6.6vw
            width: 27.1vw
            font-size: 2.5vw
                    
@media (max-width: 425px)
    .main
        &__paragraph
            font-size: 2.2vw
            max-width: 65vw
        &__button
            width: 24.1vw
            font-size: 2.3vw